@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~lucide-static/font/lucide.css';

body {
  color: theme("colors.text.primary");
}

.btn-badge::after {
  content: attr(data-value);
  width: 30px;
  height: 30px;
  border-radius: 9999999999px;
  background-color: theme("colors.primary");
  position: absolute;
  top: -12px;
  right: -14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: theme("colors.white");
}